<aside class="py-6 px-2 sm:px-6 lg:py-0 lg:px-0 lg:col-span-3">
  <nav class="space-y-1">
    <%= link_to "#", class: 'text-gray-900 hover:text-gray-900 hover:bg-gray-50 group rounded-md px-3 py-2 flex items-center text-sm font-medium' do %>
      <%= inline_svg_tag 'icons/user-circle.svg', class: 'text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6', aria: true, title: 'Profile icon' %>
      <span class="truncate"> Profile </span>
    <% end %>

    <%= link_to "#", class: 'text-gray-900 hover:text-gray-900 hover:bg-gray-50 group rounded-md px-3 py-2 flex items-center text-sm font-medium' do %>
      <%= inline_svg_tag 'icons/key.svg', class: 'text-gray-400 group-hover:text-gray-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6', aria: true, title: 'Password icon' %>
      <span class="truncate"> Password </span>
    <% end %>
  </nav>
</aside>
