<%= link_to href, class: "#{current_link_classes} hover:bg-gray-50 group rounded-md px-3 py-2 flex items-center text-sm font-medium odin-dark-text odin-dark-page-nav-item" do %>
  <%= inline_svg_tag "icons/#{icon_path}", class: "#{current_icon_classes} flex-shrink-0 -ml-1 mr-3 h-6 w-6", aria: true, title: "#{name} icon" %>
  <span class="truncate"> <%= name %> </span>
<% end %>
